@model IEnumerable<Menukit.Models.Entities.Ingredient>

@{
    ViewBag.Title = "List";
}

<h2>Ингредиенты</h2>

<p>Выбери основной ингредиент блюда</p>

@foreach (var ingredient in Model)
{
    <div class="Item">
        <h3>@ingredient.Name</h3>
        @ingredient.Category
    </div>
}

<div class="pager">
    @Html.Raw(Html.PageLinks((int)ViewData["CurrentPage"], (int)ViewData["TotalPages"],
                    x => Url.Action("List", new {page = x})))
</div>
